<html>
    <head>
        <title>The Ultimate Budget Planner!</title>
    </head>
    <body>
      <h1>The Ultimate Budget Planner!</h1>

       <div>
        <form method="post" action="/events/new">
            <label for="event_name">Event Name:</label>
            <input type="text" name="event_name" value="">
            <label for="event_date">Date:</label>
            <input type="date" name="event_date" value="">
            <label for="name">Name:</label>
            <input type="name" name="user_name" value="">
            <input type="submit" value="Submit">
        </form>
      </div>

      <div class="event-list">
        <ul>
          {% for event in events %}
            <li>{{ event.event }} - {{ event.date }}</li>
          {% endfor %}
        </ul>
      </div>
    </body>
</html>
